@{
    ViewBag.Title = "Home Page";
}
<link href="/assets/libs/fullcalendar/fullcalendar.min.css" rel="stylesheet" type="text/css" />

@if (Session["UserRole"].ToString() == "Admin")
{
    <div class="col-xl-12">
        <div class="card-box">
            <h4 class="header-title mb-3">Duyệt hoạt động ngoài giờ cá nhân</h4>
            <div class="table-responsive">
                <table class="table table-hover mb-1 dt-bootstrap4 no-footer" id="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col" width="1">#</th>
                            <th style="text-align:center" scope="col" class="resizeable">Ngày</th>
                            <th style="text-align:center" scope="col" class="resizeable">Giờ</th>
                            <th style="text-align:center" scope="col" class="resizeable">Nội dung</th>
                            <th style="text-align:center" scope="col" class="resizeable">Địa điểm</th>
                            <th style="text-align:center" scope="col">Minh chứng</th>
                            <th style="text-align:center" scope="col">Thao tác</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>


            </div> <!-- end .table-responsive-->
        </div>
        <div class="card-box">
            <div class="content">

                <!-- Start Content-->
                <div class="container-fluid">

                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box">
                                @*<div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">UBold</a></li>
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">Apps</a></li>
                                            <li class="breadcrumb-item active">Calendar</li>
                                        </ol>
                                    </div>*@
                                <h4 class="page-title">Lịch công tác</h4>
                            </div>
                        </div>
                    </div>
                    <!-- end page title -->
                    <center>

                        <div class="card">
                            <div class="card-body">



                                <div class="col-lg-12">
                                    <div id="calendar"></div>
                                </div> <!-- end col -->

                            </div> <!-- end card body-->
                        </div> <!-- end card -->
                    </center>
                    <!-- end col-12 -->

                </div> <!-- container -->

            </div> <!-- content -->
        </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h4 class="modal-title" id="exampleModalLabel">Nhập thông tin ngoài giờ</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group ">
                        <label>Thời gian</label>
                        <input type="text" id="Date" class="form-control flatpickr-input active " placeholder="Nhập ngày" readonly="readonly">
                    </div>
                    <div class="form-group">
                        <div class="input-group clockpicker">
                            <input id="Hour" placeholder="Nhập giờ" type="text" class="form-control">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="mdi mdi-clock-outline"></i></span>
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="Content">Nội dung</label>
                        <div id="content" style="height: 100px;"></div>
                    </div>
                    <div class="form-group">
                        <select id="cateSelect" data-live-search="true" data-style="btn-light"></select>
                    </div>
                    <div class="form-group">
                        <label for="Location">Địa điểm</label>
                        <input type="text" class="form-control" id="location" name="location" parsley-trigger="change" placeholder="Nhập địa điểm..." />
                    </div>

                    <div class="form-group" id="divProoffile">
                        <label for="proofFile">Minh chứng</label>
                        <input class="form-control" name="proofFile" id="proofFile" type="file" multiple />
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button type="button" id="Save" class="btn btn-primary">Lưu</button>
                    <button type="button" id="ApplyDetail" class="btn btn-success">Áp dụng</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="fielUploadModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="dialog">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h4 class="modal-title" id="exampleModalLabel">Quản lí file</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group" id="divfileManagerment">
                        <label for="Location">File minh chứng</label>
                        <div class="file-loading">
                            <label>Preview File Icon</label>
                            <input id="fileUpload" type="file" multiple>
                        </div>
                    </div>
                </div>
                @*<div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                        <button type="button" id="Save" class="btn btn-primary">Lưu</button>
                        <button type="button" id="ApplyDetail" class="btn btn-success">Áp dụng</button>
                    </div>*@
            </div>
        </div>
    </div>



}
else
{
    <div class="col-xl-12">
        <div class="card-box">
            <div class="content">

                <!-- Start Content-->
                <div class="container-fluid">

                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box">
                                @*<div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">UBold</a></li>
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">Apps</a></li>
                                            <li class="breadcrumb-item active">Calendar</li>
                                        </ol>
                                    </div>*@
                                <h4 class="page-title">Lịch công tác</h4>
                            </div>
                        </div>
                    </div>
                    <!-- end page title -->
                    <center>

                        <div class="card">
                            <div class="card-body">



                                <div class="col-lg-12">
                                    <div id="calendar"></div>
                                </div> <!-- end col -->

                            </div> <!-- end card body-->
                        </div> <!-- end card -->
                    </center>
                    <!-- end col-12 -->

                </div> <!-- container -->

            </div> <!-- content -->
        </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h4 class="modal-title" id="exampleModalLabel">Nhập thông tin ngoài giờ</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group ">
                        <label>Thời gian</label>
                        <input type="text" id="Date" class="form-control flatpickr-input active " placeholder="Nhập ngày" readonly="readonly">
                    </div>
                    <div class="form-group">
                        <div class="input-group clockpicker">
                            <input id="Hour" placeholder="Nhập giờ" type="text" class="form-control">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="mdi mdi-clock-outline"></i></span>
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="Content">Nội dung</label>
                        <div id="content" style="height: 100px;"></div>
                    </div>
                    <div class="form-group">
                        <select id="cateSelect" data-live-search="true" data-style="btn-light"></select>
                    </div>
                    <div class="form-group">
                        <label for="Location">Địa điểm</label>
                        <input type="text" class="form-control" id="location" name="location" parsley-trigger="change" placeholder="Nhập địa điểm..." />
                    </div>

                    <div class="form-group" id="divProoffile">
                        <label for="proofFile">Minh chứng</label>
                        <input class="form-control" name="proofFile" id="proofFile" type="file" multiple />
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button type="button" id="Save" class="btn btn-primary">Lưu</button>
                    <button type="button" id="ApplyDetail" class="btn btn-success">Áp dụng</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="fielUploadModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="dialog">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h4 class="modal-title" id="exampleModalLabel">Quản lí file</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group" id="divfileManagerment">
                        <label for="Location">File minh chứng</label>
                        <div class="file-loading">
                            <label>Preview File Icon</label>
                            <input id="fileUpload" type="file" multiple>
                        </div>
                    </div>
                </div>
                @*<div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                        <button type="button" id="Save" class="btn btn-primary">Lưu</button>
                        <button type="button" id="ApplyDetail" class="btn btn-success">Áp dụng</button>
                    </div>*@
            </div>
        </div>
    </div>

}
<!-- Start Page Content here -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- End Page content -->
<!-- ============================================================== -->
<!-- JavaScript -->
@*<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" crossorigin="anonymous">*@

@*<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>*@
<link href="~/assets/libs/FileMultiUpload/css/fileinput.css" rel="stylesheet" />
<link href="~/assets/libs/FileMultiUpload/themes/explorer-fas/theme.css" rel="stylesheet" />
@*<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>*@

@*<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" crossorigin="anonymous">*@
<link href="~/Scripts/cdn/all.css" rel="stylesheet" crossorigin="anonymous" />



@section scripts{

    <script src="~/assets/libs/FileMultiUpload/js/plugins/piexif.js"></script>
    <script src="~/assets/libs/FileMultiUpload/js/plugins/sortable.js"></script>
    <script src="~/assets/libs/FileMultiUpload/js/fileinput.js"></script>
    <script src="~/assets/libs/FileMultiUpload/js/locales/fr.js"></script>
    <script src="~/assets/libs/FileMultiUpload/js/locales/es.js"></script>
    <script src="~/assets/libs/FileMultiUpload/themes/fas/theme.js"></script>
    <script src="~/assets/libs/FileMultiUpload/themes/explorer-fas/theme.js"></script>
    <script src="/assets/libs/moment/moment.min.js"></script>
    <script src="/assets/libs/jquery-ui/jquery-ui.min.js"></script>
    <script src="/assets/libs/fullcalendar/fullcalendar.min.js"></script>

    <!-- Calendar init -->
    @*<script src="/assets/js/pages/calendar.init.js"></script>*@

    <script type="text/javascript">
        var Role;
        //var tablePart;
        var test = [{
            start: '2019-10-05T04:15:00',
            title: 'Sân cờ',
            description: ''

        },
        {
            title: 'Repeating Event',
            description: 'description for Repeating Event',
            start: '2019-05-10T04:00:00'
        },
        {
            title: 'Conference',
            description: 'description for Conference',
            start: '2019-11-11',
        },
        {
            title: 'Meeting',
            description: 'description for Meeting',
            start: '2018-11-12T10:30:00',
            end: '2018-11-12T12:30:00'
        },
        {
            title: 'Lunch',
            description: 'description for Lunch',
            start: '2018-11-12T12:00:00'
        },
        {
            title: 'Meeting',
            description: 'description for Meeting',
            start: '2018-11-12T14:30:00'
        },
        {
            title: 'Birthday Party',
            description: 'description for Birthday Party',
            start: '2018-11-13T07:00:00'
        }
        ]
        function CalanderInit() {
            $.ajax({
                url: '/Home/GetAllCalander',
                method: 'POST'
            }).done(function (data) {
                var today = new Date();
                var dd = today.getDate();
                var mm = today.getMonth() + 1; //As January is 0.
                var yyyy = today.getFullYear();
                var tempDate = yyyy + "-" + mm + "-" + dd
                //defaultDate: '2018-11-12',
                console.log(data.returnData);
                $('#calendar').fullCalendar({
                    defaultView: 'month',
                    defaultDate: tempDate,

                    eventRender: function (eventObj, $el) {
                        $el.popover({
                            title: eventObj.title,
                            content: eventObj.description,
                            trigger: 'hover',
                            placement: 'top',
                            container: 'body'
                        });
                    },

                    events: data.returnData
                });
                //ShowList(data.jsData);
            });

        }
        var table;
        //var a = ['Images/1111/9520191820832_1111.jpg;'];

        function OpenFileManager(id) {
            $.ajax({
                url: '/Assess/GetFile',
                method: 'POST',
                data: {
                    'Id': id
                }
            }).done(function (data) {
                //alert("a")
                //c/*onsole.log(data);*/
                var images = [];
                images = data.returnData;
                console.log(data.listImagesDetail);
                console.log(images);
                //fileUpload.initialPreview = a;
                $("#fileUpload").val("");
                $("#fileUpload").fileinput('destroy');
                $("#fileUpload").fileinput({
                    theme: 'fas',
                    showUpload: false,
                    showCaption: false,
                    browseClass: '#',
                    fileType: "any",
                    previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
                    overwriteInitial: false,
                    initialPreviewAsData: true,
                    initialPreview: images,
                    initialPreviewConfig: data.listImagesDetail


                });
                //var plugin = $('#fileUpload').data('fileinput');
                //plugin.initialPreview = a;
                //console.log(plugin.initialPreview)
                $("#fielUploadModal").modal('show');
            });
        }

        $(document).ready(function () {
            table = InitTable("#table");
            CalanderInit();
            Getall();


        });
        function Getall() {
            $.ajax({
                url: '/Assess/GetAll',
                method: 'POST'
            }).done(function (data) {
                //console.log(data);
                ShowList(data.jsData);
            });
        }
        var listUser;
        function Check(id, status) {
            alert(id);
            alert(status);
            $.ajax({
                url: '/Assess/Check',
                method: 'POST',
                data: {
                    'id': id,
                    'status': status
                }
            }).done(function (data) {
                //console.log(data);
                if (data.returnData == true) {
                    ShowList(data.jsData);
                    $.toast({
                        heading: 'Success',
                        text: 'Thao tác thành công',
                        showHideTransition: 'slide',
                        icon: 'success',
                        position: 'top-left'
                    });
                }
            });
        }
        function ShowList(data) {
            table.clear().draw();
            for (let i = 0; i < data.length; i++) {
                const node = table.row.add([
                    i + 1,
                    moment(data[i]["Date"]).format("DD-MM-YYYY"),
                    data[i]["Time"],
                    data[i]["Content"],
                    data[i]["Location"],
                    `<i style="cursor:pointer" onclick='OpenFileManager(${data[i]["Pid"]})' title="Quản lí tệp tin" class="far fa-images" style="font-size: 60px;"></i>`,
                    ` <center class="pt-1">
                                                                                                                    <i style="cursor:pointer" onclick='Check(${data[i]["Pid"]},1)' class="far fa-thumbs-up text-danger ml-1" data-toggle="tooltip" data-placement="top" title="Duyệt"></i>
                                                                                                                    <i style="cursor:pointer" onclick='Check(${data[i]["Pid"]},-1)' class="far fa-thumbs-down text-danger ml-1" data-toggle="tooltip" data-placement="top" title="Từ chối"></i>
                                                                                                                </center>`
                ]).draw().node();
                $(node).find("td").eq(0).addClass("text-center");
                $(node).find("td").eq(1).addClass("text-center");
                $(node).find("td").eq(2).addClass("text-center");
                $(node).find("td").eq(3).addClass("text-center");
                $(node).find("td").eq(4).addClass("text-center");
                $(node).find("td").eq(5).addClass("text-center");
            }
        }



    </script>
}
